name: Call reusable MediaWiki tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  call-mediawiki-tests-workflow:
    uses: WikiForge/.github/.github/workflows/mediawiki-tests.yml@main
    strategy:
      matrix:
        include:
          # Latest MediaWiki stable - PHP 8.2
          - mw: 'REL1_44'
            php: 8.2
            php-docker: 82
            composer-test: false
            coverage: true
            experimental-phan: false
            experimental-phpunit: false

          # Latest MediaWiki stable - PHP 8.4
          - mw: 'REL1_44'
            php: 8.4
            php-docker: 84
            composer-test: true
            coverage: false
            experimental-phan: false
            experimental-phpunit: true

          # Latest MediaWiki master - PHP 8.2
          - mw: 'master'
            php: 8.2
            php-docker: 82
            composer-test: false
            coverage: false
            experimental-phan: true
            experimental-phpunit: true

          # Latest MediaWiki master - PHP 8.4
          - mw: 'master'
            php: 8.4
            php-docker: 84
            composer-test: false
            coverage: false
            experimental-phan: true
            experimental-phpunit: true

    with:
      mw: ${{ matrix.mw }}
      php: ${{ matrix.php }}
      php-docker: ${{ matrix.php-docker }}
      experimental-phan: ${{ matrix.experimental-phan }}
      experimental-phpunit: ${{ matrix.experimental-phpunit }}
      composer-test: ${{ matrix.composer-test }}
      coverage: ${{ matrix.coverage }}

    secrets: inherit
